= cache ['absences_widget', 'v1', current_user, session, absences] do
  .content-box
    .content-box-header
      %i.icon-bar-chart
      Absences
      = session.title

    - if absences.any?
      = content_tag :div, '', id: 'absences_data', data: {absences: absences_to_chart_data(absences), x: 'date', y: ['excused', 'justified', 'nothing'], labels: [Absence::TYPE_EXCUSED, Absence::TYPE_JUSTIFIED, Absence::TYPE_NOTHING], colors: ['#80b031', '#0096db', '#f54f6c']}
      .row-fluid
        .span12
          #absences-chart.chart{style: 'width: 100%; height: 330px;'}
    - else
      .padded
        Aucune absence pour l'instant.