= cache ['average_widget', 'v5', current_user, session.exams, session.grades] do
  .content-box
    .content-box-header
      %i.icon-bar-chart
      Moyenne
      = session.title

    - if session.grades.any?
      - goal = 10
      - goal = 12 if session.year > 2
      = content_tag :div, '', id: 'average_data', data: {grades: grades_to_chart_data(session.grades.includes(:exam)), goals: [goal]}
      .row-fluid
        .span12
          #average-chart.chart{style: 'width: 100%; height: 330px;'}
    - else
      .padded
        Aucune note pour l'instant.