- url = ics_url key: current_user.ics_key, format: :ics, protocol: "webcal"

.hero-unit
  %h2
    Flux ical
    %small
      Pour récupérer tout ça sur le smartphone

  %p
    Grâce à HEI-Connect, tu peux récupérer ton planning sur ton gestionnaire d'agenda (Google Agenda, iCal, Outlook...).
    %br
    Abonne-toi en cliquant sur le lien:
  %pre
    = link_to url, url

%h2 Liste des cours

- if current_user.schedule_updating?
  %hr
  %p Mise à jour en cours
  .progress.progress-striped.active
    .bar{:style => "width: 100%;"}
  :javascript
    setTimeout((function() {
      return window.location.reload(1);
    }), 10000);
  %hr

%p Liste des cours en travaux