- url = ics_url key: current_user.ics_key, format: :ics, protocol: "webcal"

- if current_user.schedule_updating?
  .row-fluid
    .span6.offset3
      .content-box
        .content-box-header
          %i.icon-refresh
          Mise à jour en cours
        .padded
          .progress.progress-striped.active
            .bar{:style => "width: 100%;"}
          :javascript
            setTimeout((function() {
              return window.location.reload(1);
            }), 10000);


.content-box
  .content-box-header
    %i.icon-cloud
    Flux iCalendar
  .padded
    :markdown
      Grâce à HEI-Connect, tu peux récupérer ton planning sur ton gestionnaire d'agenda (Google Agenda, iCal, Outlook...).

      Si rien de magique ne se passe en cliquant sur le lien, [un tutoriel est disponible](https://github.com/ldavin/hei-connect-web/wiki/%5BTutoriel%5D-Connecter-votre-agenda-%C3%A0-votre-mobile).
    %pre
      = link_to url, url

= render partial: 'shared/calendar_widget', locals: { courses: @courses }