= render partial: 'average_widget', locals: { session: @session, grades: @grades, exams: @exams, draw_average: true }

= render :partial => 'grades_table', locals: { session: @session, grades: @grades }

.row-fluid
  .span4
    = render partial: 'status_widget', locals: { updates: @updates }

  .span5
    .content-box
      .content-box-header
        %i.icon-info-sign
        A propos des mises à jour
      .padded.pagination-justify
        :markdown
          La mise à jour automatique n'est programmée que pour l'année en cours.

          La mise à jour n'est opérée que **tous les deux jours**, à cause du temps nécessaire pour récupérer les notes
          depuis e-campus (20-25 secondes), et du manque de ressources d'HEI Connect.

          Il est toujours possible de programmer **manuellement** un mise à jour des notes de n'importe quelle année grâce
          au bouton ci-dessous.

          *HEI Connect ne sait pas (encore) gérer les années particulières (FLST...), désolé si vous êtes impacté!*

        = button_to 'Forcer la mise à jour des notes ' + @session.title, dashboard_grades_path(ecampus_id: current_user.ecampus_id, year: @session.year, try: @session.try), method: :put, class: 'btn btn-mini btn-inverse'

  .span3
    .content-box
      .content-box-header
        %i.icon-info-sign
        A propos des moyennes
      .padded.pagination-justify
        :markdown
          **Les moyennes sont calculées par groupe**, c'est à dire par ensemble d'utilisateurs ayant reçu une note pour le même examen à la même date.

          *Exemple: moyenne des élèves d'un même groupe de khôlle, d'une même promotion, d'un même semestre.*

          **Plus il y a d'utilisateurs d'un même groupe inscrits sur HEI-Connect, plus la moyenne se rapproche de la réalité.**