.content-box
  .content-box-header
    %i.icon-info-sign
    En reconstruction
  .padded
    :markdown
      Prochainement ici, tout plein de widgets super géniaux (emploi du temps, moyenne, heures d'absence)...