- model_class = Exam
.content-box
  .content-box-header
    =t '.title', :default => model_class.model_name.human.pluralize
  .padded
    = render :partial => 'admin/shared/exams_table', locals: { exams: @exams }
    %br
    = link_to t('.new', :default => t("helpers.links.new")), new_admin_exam_path, :class => 'btn btn-primary'
