.content-box
  .content-box-header
    = @klass.model_name.human.pluralize
  .padded
    = render :partial => 'table', locals: { klass: @klass, klass_path: @klass_path, entities: @entities }
    %br
    .center
      = will_paginate @entities
    = link_to 'New', admin_new_entity_path(entity: @klass_path), :class => 'btn btn-primary'
