- url = admin_teachers_path
- url = admin_teacher_path(@teacher) unless @teacher.new_record?

= simple_form_for @teacher, :url => url, :html => { :class => 'form-horizontal' } do |f|
  = f.input :name
  .form-actions
    = f.button :submit, :class => 'btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), admin_teachers_path, :class => 'btn'
