- model_class = CourseRoom
.content-box
  .content-box-header
    =t '.title', :default => model_class.model_name.human.pluralize
  .padded
    = render :partial => 'admin/shared/course_rooms_table', locals: { course_rooms: @course_rooms }
    %br
    .center
      = will_paginate @course_rooms
    = link_to t('.new', :default => t("helpers.links.new")), new_admin_course_room_path, :class => 'btn btn-primary'
