.content-box
  .content-box-header
    %i.icon-info-sign
    Maintenance
  .padded
    .center
      = link_to 'Activer / Desactiver le mode maintenance', admin_dashboard_maintenance_path, class: 'btn btn-large btn-red'