:javascript
  setTimeout((function() {
    return window.location.reload(1);
  }), 5000);


%p.lead HEI Connect est en train d'essayer de se connecter à e-campus avec vos identifiants pour vérifier la validité de votre compte

#public_bar.progress.progress-striped.active
  .bar{:style => "width: 100%;"}

= link_to "Annuler", sessions_path, {method: :delete, class: 'btn btn-info'}