:javascript
  setTimeout((function() {
    return window.location.reload(1);
  }), 5000);

.login-container.center
  .title Premier login
  .details
    %p HEI Connect est en train d'essayer de se connecter à e-campus avec tes identifiants pour vérifier la validité de ton compte.

    .progress.progress-striped.active
      .bar{:style => "width: 100%;"}

  .actions
    = link_to 'Annuler', sessions_path, method: :delete, class: 'btn btn-blue btn-large login-btn'