= cache ['average_widget', 'v4', current_user, session] do
  .content-box
    .content-box-header
      %i.icon-bar-chart
      Moyenne
      = session.title

    - if session.grades.any?
      = content_tag :div, '', id: 'average_data', data: {grades: grades_to_chart_data(session.grades)}
      .row-fluid
        .span12
          #average-chart.chart{style: 'width: 100%; height: 330px;'}
    - else
      .padded
        Aucune note pour l'instant.