- model_class = CourseTeacher
.content-box
  .content-box-header
    =t '.title', :default => model_class.model_name.human.pluralize
  .padded
    = render :partial => 'admin/shared/course_teachers_table', locals: { course_teachers: @course_teachers }
    %br
    = link_to t('.new', :default => t("helpers.links.new")), new_admin_course_teacher_path, :class => 'btn btn-primary'
