- model_class = Absence
.content-box
  .content-box-header
    =t '.title', :default => model_class.model_name.human.pluralize
  .padded
    = render :partial => 'admin/shared/absences_table', locals: { absences: @absences }
    %br
    .center
      = will_paginate @absences
    = link_to t('.new', :default => t("helpers.links.new")), new_admin_absence_path, :class => 'btn btn-primary'
