- model_class = Absence
.content-box
  .content-box-header
    =t '.title', :default => [:'helpers.titles.new', 'New %{model}'], :model => model_class.model_name.human
  .padded
    = render :partial => "form"
