#gradesModal {

  .modal-header {
    background-color: #5cb85c;
    color: #fff;
    font-size: 1.5em;
  }

  .modal-content {
    background-color: #fff;
  }

}

.about {

  .back-btn {
    margin-bottom: 20px;
  }

  .panel {
    background: none;
  }

  .panel-body {
    border: 1px solid darkgray;
  }

  .panel-heading {
    font-size: 1.5em;
  }

}