// Stylesheets preceded by "//" are not required since not used


// Bootstrap base styles (Some sub-stylesheets could also be disabled)

@import 'bootstrap.css';
@import 'morris.css';

$theme-light-grey: #ebebeb;
$theme-red: #dd5555;
$theme-purple: #2b3e50;

body {
  font-family: 'Titillium Web', 'Helvetica Neue', Helvetica, sans-serif;
  color: $theme-purple;
  background-color: $theme-light-grey;
}

.footer{
  border: 1px solid $theme-purple;
  margin-bottom: 10px;
}

.panel-default{
  background-color: $theme-light-grey;
  color: $theme-purple!important;
  a {
    color: #df691a!important;
    text-decoration: none!important;
  }
}

.panel-default > .panel-heading {
  background-color: $theme-light-grey;
  color: $theme-red;
  font-weight: bolder;
  font-variant: small-caps;
  font-size: 2em;
  padding: 5px;
}

.panel-body.dashboard-widget{
  border: 1px solid $theme-purple;

}

.col-centered{
  float: none;
  margin: 0 auto;
}

@import 'login';

.navbar-default .navbar-nav>li>a {
  color: $theme-light-grey;
  font-size: 1.4em;
}