// Stylesheets preceded by "//" are not required since not used


// Bootstrap base styles (Some sub-stylesheets could also be disabled)

@import 'bootstrap.css';


$theme-light-grey: #ebebeb;
$theme-purple: #2b3e50;

body {
  font-family: 'Titillium Web', 'Helvetica Neue', Helvetica, sans-serif;
  color: $theme-purple;
  background-color: $theme-light-grey;
}

.footer{
  border: 1px solid $theme-purple;
  margin-bottom: 10px;
}

.panel.dashboard-widget{
  background-color: $theme-light-grey;
  border: 1px solid $theme-purple;
  color: $theme-purple!important;
  a {
    color: #df691a!important;
    text-decoration: none!important;
  }
}

.col-centered{
  float: none;
  margin: 0 auto;
}

@import 'login';

.navbar-default .navbar-nav>li>a {
  color: $theme-light-grey;
  font-size: 1.4em;
}