$theme-light-grey: whitesmoke;
$theme-red: #dd5555;
$theme-purple: #2b3e50;

@import "general/mixins";

@import 'bootstrap';
@import 'morris';
@import 'login';
@import 'dashboard';
@import 'calendar';
@import 'grades';
@import 'compass';

// Calendar drawing library
@import "fullcalendar/fullcalendar";

body {
  font-family: 'Titillium Web', 'Helvetica Neue', Helvetica, sans-serif;
  color: $theme-purple;
  background-color: $theme-light-grey;
}

.alert-error {
  @extend .alert-danger;
}

.dropdown-menu {
  padding: 1px 0;
}

.footer {
  border: 1px solid $theme-purple;
  margin-bottom: 10px;
}

.panel-default {
  background-color: $theme-light-grey;
  color: $theme-purple !important;
  a {
    color: #df691a !important;
    text-decoration: none !important;
  }
}

.panel-default > .panel-heading {
  background-color: $theme-light-grey;
  color: $theme-red;
  font-weight: bolder;
  font-variant: small-caps;
  font-size: 2em;
  padding: 5px;
}

.panel-body.dashboard-widget {
  border: 1px solid $theme-purple;
}

.col-centered {
  float: none;
  margin: 0 auto;
}

table.table.table-bordered {
  margin-bottom: 0;
}

.navbar-default .navbar-nav > li > a {
  color: $theme-light-grey;
  font-size: 1.4em;
}

.popover {
  background-color: #dddddd;
  margin: 0;
  border: $theme-purple;
  &.top > .arrow:after {
    border-top: #dddddd;
  }
  &.top > .arrow {
    border-top-color: #dddddd;
  }
}

.additional-data {
  padding-top: 10px;
  text-align: right;
}