.calendar {
  .fc-event-vert .fc-event-time {
    font-size: 1em;
    white-space: nowrap;
    font-weight: 400;
  }
  .fc-event-inner.fc-event-skin {
    border: none;
  }
  .fc-event-head.fc-event-skin{
    border: none;
    border-bottom: 1px solid $theme-purple;
    border-top: 1px solid $theme-purple;
    background-color: #777777;
    color: #f5f5f5;
  }
  .fc-event-skin {
    background-color: #f5f5f5;
    border: 1px solid $theme-purple;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    border-radius: 0px;
    color: $theme-purple;
    display: block;
    font-size: 11px;
    margin-top: 0px;
    padding:0px 0;
  }
}