.login-box {
  margin-top: 50px;
}

.panel {
  color: #ebebeb;
}
.panel-heading.login p{
  font-size: 1.8em;
  margin: 0;
}

.login-box .btn {
  margin: 10px;
}

.about {
  border: solid 1px #5bc0de;
  color: #5bc0de;
}

.about:hover{
  background-color: #5bc0de;
  color: white;
}

p.light{
  font-weight: 200;
  font-style: italic;
}