- model_class = User
.content-box
  .content-box-header
    =t '.title', :default => model_class.model_name.human.pluralize
  .padded
    = render partial: 'admin/shared/users_table', locals: { users: @users }
    %br
    = link_to t('.new', :default => t("helpers.links.new")), new_admin_user_path, :class => 'btn btn-primary'
