- model_class = UserSession
.content-box
  .content-box-header
    =t '.title', :default => model_class.model_name.human.pluralize
  .padded
    = render partial: 'admin/shared/user_sessions_table', locals: { user_sessions: @user_sessions }
    %br
    .center
      = will_paginate @courses
    = link_to t('.new', :default => t("helpers.links.new")), new_admin_user_session_path, :class => 'btn btn-primary'
