%hr
.footer
  %p
    HEI Connect, projet open-source (
    = link_to 'ici', 'https://github.com/ldavin/hei-connect'
    et
    = link_to 'là', 'https://github.com/ldavin/hei-connect-web'
    ), initié par Louis Davin.